<!DOCTYPE html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>

</head>

<body>
    <h1> Book today</h1>
    <div class="form-wrapper">
        <form method="POST" action="" autocomplete="off">

            <input type="radio" name="makeup-only" id="makeup-only" class="input-hidden" />
            <label for="makeup-only">
                <img src="//placekitten.com/150/150" alt="I'm sad" />
            </label>
            <input type="date" name="appointmentdate" id="appointmentdate">
            <input type="radio" name="makeup-hair" id="makeup-hai" class="input-hidden" />
            <label for="makeup-hair">
                <img src="//placekitten.com/151/151" alt="I'm happy" />
            </label>
            <input type="submit">







        </form>


    </div>
    <script src="js/form.js"></script>
</body>

</html>